.start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px);
  padding: 70px 0;
  background-image: url("/icons/start-section-illustration.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 70%;
}

.start div {
  color: var(--fc-primary);
}

.start div h1 {
  font-size: 1.9rem;
}

.start div h2 {
  font-size: 1.6rem;
}

.start a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 4px;
  border-radius: 5px;
  color: var(--fc-primary);
  background-color: var(--color-tertiary);
}

.start div,
.start a {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.start a:hover,
.start a:focus {
  opacity: 0.8;
}

@media screen and (min-width: 350px) {
  .start {
    padding: 50px 0;
  }

  .start div {
    letter-spacing: 0.2px;
  }
}

@media screen and (min-width: 400px) {
  .start {
    background-size: 350px;
  }

  .start div h1 {
    font-size: 2.2rem;
  }

  .start div h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .start {
    justify-content: center;
    gap: 20px;
    background-position: right center;
    padding: 50px;
  }

  .start div,
  .start a {
    max-width: 300px;
    margin: unset;
  }

  .start div {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 900px) {
  .start {
    background-size: 500px;
  }

  .start div {
    letter-spacing: 2px;
    max-width: unset;
  }

  .start div h1 {
    font-size: 2.4rem;
  }

  .start div h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .start div h1 {
    font-size: 2.6rem;
  }

  .start div h2 {
    font-size: 2.4rem;
  }
}
