@font-face {
  font-family: "Acari Sans Neue";
  src: url("/font/acari-sans-neue-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Acari Sans Neue";
  src: url("/font/acari-sans-neue-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Acari Sans Neue";
  src: url("/font/acari-sans-neue-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Acari Sans Neue";
  src: url("/font/acari-sans-neue-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Acari Sans Neue";
  src: url("/font/acari-sans-neue-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Acari Sans Neue";
  src: url("/font/acari-sans-neue-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --element-bg: #c0c0c03b;

  --body-bg: #ffffff;
  --input-bg: #ffffff;

  --bg-primary: #c0c0c0;
  --bg-secondary: #e4e4e4;

  --border-primary: #c0c0c0;
  --border-secondary: #e4e4e4;

  --color-primary: #9432b5;

  --indicator-danger: #da2323;

  --fc-primary: #000000;
  --fc-secondary: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: linear-gradient(-45deg, #101010 5%, #000000 50%);
    --input-bg: #000000;

    --bg-primary: #121214;
    --bg-secondary: #151519;

    --border-primary: #a8a8b3;

    --color-primary: #734bd1;

    --fc-primary: #e1e1e6;
    --fc-secondary: #dedede;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--body-bg);
  font-family: "Acari Sans Neue";
}

.body--noOverflow {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
