.start {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 64px);
  padding: 70px 0;
}

.start div {
  font-weight: bolder;
  color: var(--fc-primary);
}

.start div h1 {
  font-size: 2rem;
}

.start div h2 {
  font-size: 1.6rem;
}

.start div,
.start a {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (min-width: 350px) {
  .start {
    padding: 50px 0;
  }
}

@media screen and (min-width: 450px) {
  .start div h2 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 769px) {
  .start {
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background-image: url("/images/start-section-illustration.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 350px;
  }

  .start div {
    max-width: 320px;
    padding-bottom: 40px;
    margin: unset;
  }

  .start a {
    max-width: 250px;
    margin: unset;
  }
}

@media screen and (min-width: 900px) {
  .start {
    background-size: 450px;
  }

  .start div {
    max-width: unset;
  }

  .start div h1 {
    font-size: 2.6rem;
  }

  .start div h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .start {
    background-size: 600px;
  }

  .start div h1 {
    font-size: 3rem;
  }
  .start div h2 {
    font-size: 2.2rem;
  }
}
