.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 15px;
}

.navigation {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 180px 15px;
  transform: translateX(-900px);
  transition: transform 0.3s ease;
  background-color: var(--link-button-bg);
}

.navigation ul {
  max-width: 350px;
  margin: auto;
}

.navigation a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 3px 5px;
  font-size: 1em;
  font-weight: 500;
  border-bottom: 2px solid;
}

.navigation a:hover,
.navigation a:focus {
  backdrop-filter: brightness(90%);
}

.navigation--visible {
  transform: translateX(0);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  z-index: 2;
  width: 100%;
  padding: 0 10px;
  height: 34px;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--element-bg);
}

.search input {
  border: 0 none;
  outline: 0;
  width: 80%;
  height: 28px;
  font-size: 15px;
  background-color: transparent;
  color: var(--fc-primary);
}

.search:hover,
.search--focused {
  backdrop-filter: brightness(0.5);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: var(--link-button-bg);
}

.search div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search button {
  display: grid;
  place-items: center;
  border: 0 none;
  outline: 0;
  background: unset;
  cursor: pointer;
}

.search button svg {
  width: 17px;
  color: var(--color-primary);
}

.search .search_clear svg {
  width: 14px;
}

.search button:hover svg,
.search button:focus svg {
  color: var(--link-button-bg);
}

.search .search_clear:hover svg,
.search .search_clear:focus svg {
  color: var(--indicator-danger);
}

.search:has(+ .navigation--visible) input::placeholder {
  color: #bbbbbb;
}

.search:has(+ .navigation--visible):hover {
  color: #ffffff;
}

.search:has(+ .navigation--visible) input {
  color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  height: 34px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--element-bg);
  z-index: 1;
}

.menu:hover {
  cursor: pointer;
}

.menu div {
  width: 20px;
  height: 3px;
  background-color: var(--color-primary);
  transition: transform 0.3s ease;
  border-radius: 3px;
}

.menu .bar_two {
  width: 13px;
}

.menu--opened .bar_one {
  transform: translate(-0.2px, 3px) rotate(135deg);
}

.menu--opened .bar_two {
  display: none;
}

.menu--opened .bar_three {
  transform: translate(-0.2px, -3px) rotate(225deg);
}

.menu--opened div {
  background-color: #ffffff;
}

.language_switcher {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.language_switcher button {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 34px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--element-bg);
  cursor: pointer;
}

.language_list {
  position: absolute;
  top: 34px;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.language_list li {
  color: var(--fc-secondary);
  width: 100%;
  font-size: 0;
  transition: font-size 0.3s;
}

.language_list li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.language_list a {
  display: block;
  cursor: pointer;
  background-color: var(--color-secondary);
}

.language_list span {
  display: inline-block;
  height: 100%;
}

.language_list a:hover,
.language_list a:focus {
  opacity: 0.8;
}

.language_list--opened li {
  font-size: 1.4rem;
}

.language_list--opened a {
  padding-bottom: 5px;
}

.language_switcher button:has(+ .language_list--opened) {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media screen and (min-width: 400px) {
  .header {
    flex-flow: row nowrap;
    padding: 30px;
  }

  .menu {
    order: 1;
  }

  .search {
    order: 2;
    width: 70%;
    max-width: 400px;
  }

  .language_switcher {
    order: 3;
  }
}

@media screen and (min-width: 840px) {
  .menu,
  .menu--opened {
    display: none;
  }

  .navigation {
    all: unset;
  }

  .navigation ul {
    display: flex;
    align-items: center;
    max-width: unset;
  }

  .navigation span {
    display: block;
  }

  .navigation a {
    display: flex;
    padding: 0px 20px 0px;
    height: 34px;
    font-size: 1em;
  }

  .navigation a:hover,
  .navigation a:focus {
    backdrop-filter: unset;
    color: var(--link-button-bg);
    border-color: var(--link-button-bg);
  }

  .navigation svg {
    display: none;
  }

  .search {
    order: 0;
  }

  .language_switcher {
    order: 0;
  }

  .language_switcher button:hover,
  .language_switcher button:focus {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1024px) {
  .search input {
    width: 100%;
  }

  .search div {
    display: none;
  }
}
